extends layout

block content
  #data(style="display: none;", hiddden
    data-id=room.id
    data-users=users)
  //- div(style="display: none;", hiddden)
  //-   p#id #{room.id}
  //-   p#users #{users}
  div 
    a(href="/chatRooms") チャットルーム一覧
  div
    h4.roomName #{room.roomName}  
  div 
    textarea#inputMes(name="inputMes", cols="30", rows="3")
    button#sendMes(
      data-user=user.id 
    ) 送信 
  script(src="/javascripts/room.bundle.js")
  //- script(src="/javascripts/room.js")